---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 全站默认字体大小
body {
  font-size: 14px;  /* 你可以调整到12px或13px，根据需求 */
}

// 个人资料部分字体调整
.author__bio,
.author__name,
.author__content {
  font-size: 13px;  /* 个人简介的字体 */
}

// 地址字体大小调整
.author__location {
  font-size: 12px;  /* 地址部分字体 */
}

// 标题字体大小调整
h1, h2, h3 {
  font-size: 18px;  /* 标题调整 */
}